.faq-answer-close{
  display: none;
}
#service-page > .svcFooter ul li #question.faq-answer-active{
  border-color: #0079bf;
}

#service-page{
    width: 75%;
    background-color: white;
    margin-left: 12%;
    margin-top: 2%;
    padding-bottom: 7%;
    padding-right: 5px;
}
#service-page > .svcMeta{
  padding: 4%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.svcMeta > *[data-group='metaData'] *[data-block='title']{
  width: 50%;
  display: inline-table;
}

.svcMeta > *[data-group='metaData'] *[data-block='title'] *{
  display: block;
  margin-top: 1%;
  text-align: justify;
}
.svcMeta > *[data-group='metaData'] *[data-block='title'] h2{
  font-size: 110%;
}
.svcMeta > *[data-group='metaData'] *[data-block='title'] span{
  font-size: calc(120% / 2);
font-style: italic;}
.svcMeta > *[data-group='metaData'] *[data-block='title'] i{
  font-size: 80%;
  padding-top: 2mm;
  color: gray;
}
.svcMeta > *[data-group='metaData'] *[data-block='title'] i strong{
  display: inline-block;
}

.svcMeta > *[data-group='metaData'] *[data-block='form']{
  width: 40%;
  display: inline-table;
  
}
.svcMeta > *[data-group='metaData'] *[data-block='form'] button{
    text-align: center;
    color: white;
    background-color: #0079bf;
    border: none;
    font-size: 70%;
    padding: 10px;
    width: 66%;
margin-left: 30%;}

#service-page > .svcContent{
  padding: 4%;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 100%;
  text-align: justify;
}
#service-page > .svcContent h3{
  font-size: 200%;
}
#service-page > .svcContent div{
  margin-top: 1%;
  margin-bottom: 1%;
  padding: 2%;
}
#service-page > .svcContent div *{
  width: 90%;
  font-size: calc(200% / 2);
  margin-top: 1cm;
}
#service-page > .svcFooter{
  padding: 4%;
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: justify;
}
#service-page > .svcFooter h3{
  font-size: 200%;
}
#service-page > .svcFooter ul{
  list-style-type: none;
  width: 96%;
  font-size: calc(200% / 2);
  margin-top: 1cm;
  margin-left: -4%;
}
#service-page > .svcFooter ul li{
  margin-top: 2cm;
  margin-bottom: 2cm;
}
#service-page > .svcFooter ul li #question{
  border: solid 2px gray;
  padding: 2%;
  cursor: pointer;
}
#service-page > .svcFooter ul li #answer{
  padding: 2%;
  margin-top: 1cm;
  margin-bottom: 1cm;
}

@media all and (max-width: 414px){
	.svcMeta > *[data-group='metaData'] *[data-block='title'], .svcMeta > *[data-group='metaData'] *[data-block='form'] { width: 99%; }
	.svcMeta > *[data-group='metaData'] *[data-block='form'] button {
		font-size: 65%;
		width: 91%;
		margin-left: -1%;
		margin-top: 10%;
	}
	#service-page > .svcFooter ul { margin-left: -14%; }
}
@media all and (min-width: 414px) and (max-width: 768px){
	.svcMeta > *[data-group='metaData'] *[data-block='title'], .svcMeta > *[data-group='metaData'] *[data-block='form'] { width: 99%; }
	.svcMeta > *[data-group='metaData'] *[data-block='form'] button {
		font-size: 65%;
		width: 91%;
		margin-left: -1%;
		margin-top: 10%;
	}
	#service-page > .svcFooter ul { margin-left: -14%; }
}
@media all and (min-width: 600px) and (max-width: 768px){
	#service-page > .svcMeta {
		margin-left: 2%;
	}
	#service-page > .svcFooter ul {
		margin-left: -7%;
	}
}
@media all and (min-width: 768px) and (max-width: 800px){
	.svcMeta > *[data-group='metaData'] *[data-block='form'] button {
		font-size: 68%;
		width: 92%;
		margin-left: 20%;
	}
	#service-page > .svcFooter ul {
		margin-left: -7%;
	}
}
@media all and (min-width: 800px) and (max-width: 1024px){
	.svcMeta > *[data-group='metaData'] *[data-block='form'] button {
		font-size: 68%;
		width: 92%;
		margin-left: 20%;
	}
	#service-page > .svcFooter ul {
		margin-left: -7%;
	}
}

