#formUI{
  padding: 2%;
  margin-top: 1%;
  margin-bottom: 1%;
}
#formUI > .formStep{
  list-style-type: none;
  padding: 1%;
  margin-top: -5%;
  margin-bottom: -3%;
}

.finish-message{
	display: grid;
	grid-auto-flow: row dense;
	grid-auto-columns: 50%;
	grid-auto-rows: 0.5em;
	grid-template-columns: 25% 75fr;
	grid-template-rows: 1fr;
	gap: 1% 2%;
	grid-template-areas:
		". .";
	align-content: stretch;
	justify-items: stretch;
	width: 100%;
	height: 50%;
}

header#formUI > .finish-message{
	font-weight: bolder;
}
.finish-message.success{
	color: green;
}
.finish-message.error{
	color: red;
}
.finish-message > button{
	position: relative;
	left: 80vw;
	top: 100px;
	float: right;
    text-align: center;
    color: white;
    background-color: #0079bf;
    border: none;
    font-size: 90%;
    padding: 10px;
    width: 10vw;
}
.finish-message > img{
	width: 70%;
	margin: 0 auto;
	object-fit: cover;
}
.finish-message > p{
	
}
.formStep > #step{
  padding: 1%;
  margin-top: 2.5mm;
  margin-bottom: 2.5mm;
  font-size: 100%;
  font-weight: bolder;
  display: none;
}

#step.currentStep{ display: block; }

#step > div#header{
  font-size: 100%;
  text-align: justify;
  margin-top: 0.76%;
  font-weight: normal;
  margin-left: 8%;
  width: 83%;
}
#step > div#body{
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 6%;
  width: 83%;
}

#step > div#body label{
  padding-top: 3%;
  display: block;
  margin-left: 2vw;
}
#step > div#body label *{
  display: block;
  margin-top: 2%;
  width: 50%;
}
#step > div#body label textarea{
  display: block;
  margin-top: 1%;
  width: 80%;
  min-height: 200px;
  resize: none;
  padding: 2%;
  font-family: sans-serif;
  font-size: 120%;
}
#step > div#body label *:nth-child(2){
  font-size: 120%;
  padding: 1%;
  text-indent: 2%;
}
#step > div#body label datalist{
  max-height: calc(7110px / 60);
}
#step > div#body label span:nth-child(1){
  font-size: 150%;
  color: gray;
}

#step > div#body label input[type=file]{
	text-align: center;
	border: none;
	font-size: 100%;
	padding: 10px;
	float: left;
	margin-top: 9px;
	margin-left: -1%;
}

#step > div#body label input#default-field, #step > div#body label input#search-field, #step > div#body label select#list-field{
  padding: 2%;
  width: 80%;
  font-size: 160%;
  margin-top: 5mm;
}

#step > div#body button{
  float: right;
  text-align: center;
  color: white;
  background-color: #0079bf;
  border: none;
  font-size: 90%;
  padding: 10px;
  width: 10vw;
}
#step > div#body button:disabled{
  background-color: lightgray;
}
