.data-page > header{
  width: 100%;
  height: calc(99px / 2);
  background-color: #eff3f4;
}
.data-page > header h2{
  font-size: 120%;
  margin-left: 2%;
  display: inline-block;
}
.data-page > header nav{
  float: right;
  margin-top: 1%;
  margin-right: 2%;
}
.data-page > header nav a{
  display: inline-table;
  font-size: 100%;
  color: #0079bf;
  font-weight: bold;
  text-decoration: none;
}

#add-category{
    width: 70%;
    display: block;
    padding-top: 2%;
    margin-left: 15%;
}
#add-category > *{
    margin-top: 2%;
}
#add-category > div h2{
    font-size: 200%;
    color: #0079bf;
}
#add-category > div input#theme{
    font-size: 180%;
    width: 80%;
    padding: 1%;
}
#add-category > *[data-block='titleImage'] label{
	text-align: center;
    color: white;
    background-color: #0079bf;
    border: none;
    font-size: 100%;
    padding: 10px;
}
#add-category > *[data-block='titleImage'] label #titleImageU{ display: none; }
#add-category > *[data-block='titleImage'] #uploaded{
	display: inline-block;
    width: 10%;
    object-fit: cover;
    vertical-align: middle;
    margin-left: 2%;
}
#add-category > button, #service-editor > button#send{
    font-size: 100%;
    width: 20%;
    padding: 1%;
    float: right;
    margin-right: 8%;
    margin-top: calc(2% * 3);
    border: none;
    color: #ffffff;
    background-color: #0079bf;
}


#service-editor{width: 98%;margin-left: 2%;}
#service-editor > *[data-block='name']{padding-top: 4%;padding-bottom: 4%;}
#service-editor > *[data-block='content']{
    margin-top: 4%;
}
#service-editor > *[data-block='automatization']{
    margin-top: -4%;
}

#service-editor > *[data-block='name'] input#title{
    font-size: 180%;
    width: 80%;
    padding: 1%;
}

#service-editor > *[data-block='content'] h3{
    font-size: 120%;
}
#service-editor > *[data-block='content'] ul{
    list-style-type: none;
    margin-left: -3%;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}
#service-editor > *[data-block='content'] ul li{
    padding-top: 0.7em;
    padding-bottom: 0.7em;
}
#service-editor > *[data-block='content'] ul li nav{
    margin-top: 0.18em;
}
#service-editor > *[data-block='content'] ul li nav .wf{
    margin-top: 0.35em;
}
.wf > *{}
.wf > h4{
    font-size: 110%;
}
.wf > .editor-component{
    width: 81%;
    padding: 10px;
    margin-top: 1%;
    height: 200px;
}
#service-editor > *[data-block='content'] ul[data-group='meta'] li nav .wf select{
    font-size: 180%;
    width: 83%;
    padding: 1%;
}
#service-editor > *[data-block='content'] ul[data-group='meta'] li nav .wf .level{
    padding-top: 0.09em;
    padding-bottom: 0.09em;
}
#service-editor > *[data-block='content'] ul[data-group='meta'] li nav .wf .level li{
    display: inline-block;
    padding-right: 4%;
    margin-left: -1%;
    font-size: 110%;
}
#service-editor > *[data-block='content'] ul[data-group='meta'] li nav .wf .level li #accessLevel{}
#service-editor > *[data-block='content'] ul[data-group='meta'] li nav .wf .level li span{}
#service-editor > *[data-block='content'] ul[data-group='content'] li nav .wf .add-questions{
    width: 80%;
    margin-left: -1%;
    padding: 1%;
}
#service-editor > *[data-block='content'] ul[data-group='content'] li nav .wf .add-formElements{
  width: 80%;
  margin-left: -1%;
  padding: 1%;
}
.add-questions > header{height: 200px;width: 104%;overflow: auto;}
.add-questions > main{
    margin-top: 2%;
    width: 102%;
    height: auto;
    overflow: auto;
    padding-bottom: 4%;
}
.add-questions > header div{
    display: block;
}
.add-questions > header div *{
    float: right;
    margin-right: 1%;
    width: 39%;
    height: 132px;
}
.add-questions > header div #question{
    float: left;
    width: 55%;
    font-size: 168%;
    height: 66px;
    text-indent: 2%;
    color: #0079bf;
}
.add-formElements > header{height: 200px;width: 104%;overflow: auto;}
.add-formElements > main{
    margin-top: 2%;
    width: 102%;
    height: auto;
    overflow: auto;
    padding-bottom: 4%;
}
.add-formElements > header div{
  display: block;
}
.add-formElements > header div #field{
    float: left;
    width: 55%;
    font-size: 168%;
    height: 66px;
    text-indent: 2%;
    color: #0079bf;
}
.add-formElements > header div #fieldType{
    float: right;
    margin-right: 1%;
    width: 39%;
    font-size: 168%;
    height: 70px;
    text-indent: 2%;
}
.add-questions > main button, .add-formElements > main button{
    padding: 1%;
    width: 15%;
    border: none;
    background-color: #0079bf;
    color: white;
    font-size: 100%;
}

#service-editor > *[data-block='automatization'] ul{
    list-style-type: n;
}
#service-editor > *[data-block='automatization'] ul li{
    margin-left: -3%;
}
#service-editor > *[data-block='automatization'] ul li h4{
    font-size: 130%;
    padding-right: calc(10% / 2);
    width: 20%;
    display: inline-table;
}
#service-editor > *[data-block='automatization'] ul li input{
    font-size: 150%;
    padding-right: 10%;
    width: 40%;
    display: inline-table;
    float: right;
    margin-top: 2%;
    margin-right: 10%;
    font-family: monospace;
    padding: 1%;
    text-indent: 2%;
    background-color: #0063b1;
    border: none;
    color: white;
}

*[data-block='titleImage']{}
*[data-block='titleImage'] > label{}
*[data-block='titleImage'] > img{}
*[data-block='titleImage'] > label input{}
