.admin-dashboard{
  width: 100%;
  margin-left: 2%;
}
.admin-dashboard > h1{
  font-size: 200%;
}
.admin-dashboard > header{
  display: block;
  margin-top: 1%;
}
.admin-dashboard > header #board-tabs{
  padding-top: 2px;
  padding-bottom: 2px;
}
.admin-dashboard > header #board-tabs section{
  display: inline-table;
  text-align: center;
  width: 30%;
  padding-top: 1%;
  padding-bottom: 1%;
  border-top: solid 2px #eff3f4;
  border-left: solid 2px #eff3f4;
  border-right: solid 2px #eff3f4;
}
.admin-dashboard > header #board-tabs section:hover{
  cursor: pointer;
}
.admin-dashboard > header #board-tabs section span{
  color: darkgray;
  font-size: 100%;
}
.admin-dashboard > header #board-tabs section.active{
  border: none;
  background-color: #0079bf;
}
.admin-dashboard > header #board-tabs section.active span{
  color: white;
  font-size: 120%;
  font-weight: bold;
}
.admin-dashboard > main{
  border: solid 2px #eff3f4;
  width: 91%;
  height: 79vh;
  overflow-y: auto;
  overflow-x: hidden;
}
.admin-dashboard > main ul{
 list-style-type: none;
 width: 100%;
}
.admin-dashboard > main ul li{
 display: none;
}
.admin-dashboard > main ul li.active{
 display: inherit;
}
