#news {padding-bottom: 304%;}
#news > .news-viewer #left-content {
    width: 82%;
    margin-left: 5%;
}
ul#content-list {list-style-type: none;margin-left: -3%;}
ul#content-list > li {display: block;margin-top: 1%;}
ul#content-list > li a {text-decoration: none;color: #0079bf;}

#subBookmark {
    font-size: 120%;
    font-weight: bold;
    padding-top: 2%;
    padding-bottom: 2%;
}
#subBookmark_content {
    padding-top: 1%;
    padding-bottom: 1%;
}

@media all and (max-width: 600px){
  #news {
    padding-bottom: 3200%;
  }  
}
@media all and (min-width: 600px) and (max-width: 768px){
  #news {
    padding-bottom: 1430%;
  }  
}
@media all and (min-width: 768px) and (max-width: 800px){
  #news {
    padding-bottom: 929%;
  }  
}
@media all and (min-width: 800px) and (max-width: 960px){
  #news {
    padding-bottom: 875%;
  }  
}
@media all and (min-width: 960px) and (max-width: 1024px){
  #news {
    padding-bottom: 640%;
  }  
}
@media all and (min-width: 1024px) and (max-width: 1280px){
  #news {
    padding-bottom: 613%;
  }  
}
@media all and (min-width: 1280px) and (max-width: 1366px){
  #news {
    padding-bottom: 403%;
  }  
}
@media all and (min-width: 1366px) and (max-width: 1440px){
  #news {
    padding-bottom: 370%;
  }  
}
@media all and (min-width: 1440px) and (max-width: 1536px){
  #news {
    padding-bottom: 314%;
  }  
}
