#news > .news-viewer #left-content {
    width: 82%;
    margin-left: 5%;
}
ul#content-list {list-style-type: none;margin-left: -3%;}
ul#content-list > li {display: block;margin-top: 1%;}
ul#content-list > li a {text-decoration: none;color: #0079bf;}

#subBookmark {
    font-size: 120%;
    font-weight: bold;
    padding-top: 2%;
    padding-bottom: 2%;
}
#subBookmark_content {
    padding-top: 1%;
    padding-bottom: 1%;
}
