#events{
	padding-bottom: 16%;
	min-height: calc(800px * 2);
}

#events-body{
	display: block;
	margin-left: 10%;
	width: 78%;
}
.events-feed{
	padding-top: 2%;
	padding-bottom: 2%;
	display: block;
}
.events-feed > main {
	width: 80vw;
	margin-left: -3%;
display: block;}
.slider{
  list-style-type: none;
  display: block;
  width: 100%;
  float: left;
}
.slider > li{
  display: inline-table;
  width: 50%;
  margin-left: -1%;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 1%;
  padding-right: 1%;
  background-color: white;
}

.slider > li *{
  display: block;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-left: 2%;
}
.slider > li span#date{
  color: gray;
  font-size: 180%;
  font-weight: bold;
}
.slider > li img{
  width: 99%;
  height: 140px;
  object-fit: contain;
}
.slider > li span#title{
  font-size: 120%;
  font-weight: bold;
}
.slider > li p{
  font-size: 100%;
}
.slider > li p [data-type='location']{
  color: gray;
  font-style: italic;
}
.slider > li a{
	text-decoration: none;
	text-transform: uppercase;
	float: right;
	margin-right: 4%;
	font-size: 100%;
	color: #0079bf;
	font-weight: bold;
}

.load-screen-services{
  width: 90vw;
  height: auto;
  margin-left: 0%;
  display: block;
  position: absolute;
  }
.load-screen-services > center *{
  display: block;
  padding: 2%;
}
.load-screen-services img{
  width: 200px;
  height: 200px;
  object-fit: contain;
}
.load-screen-services span{
  font-size: 150%;
  font-weight: bold;
  color: #0079bf;
}
.load-screen-services.list-smart-close{ display: none; }
@media all and (max-width: 414px){
	#events { height: calc(800px * 6); }
	.slider > li {
		display: block;
		width: 115%;
		margin-left: -18%;
		padding-top: 4%;
		padding-bottom: 16%;
	}
}
@media all and (min-width: 414px) and (max-width: 768px){
	#events { height: calc(800px * 6); }
	.slider > li {
		display: block;
		width: 115%;
		margin-left: -12%;
		padding-top: 4%;
		padding-bottom: 16%;
	}
}
@media all and (min-width: 600px) and (max-width: 768px){
	#events { height: calc(800px * 6); }
	.slider > li {
		display: block;
		width: 115%;
		margin-left: -8%;
		padding-top: 4%;
		padding-bottom: 16%;
	}
@media all and (min-width: 768px) and (max-width: 800px){
	#events { height: calc(800px * 6); }
	.slider > li {
		display: block;
		width: 115%;
		margin-left: 6%;
		padding-top: 4%;
		padding-bottom: 16%;
		margin-top: 15%;
	}
}
@media all and (min-width: 800px) and (max-width: 1024px){
	#events {height: calc(800px * 4);}
	.events-feed > main { margin-left: -10%; }
	.slider > li {
		width: 46%;
		margin-left: 1%;
		padding-bottom: 9%;
		margin-top: 4%;
	}
}
