a.new-ad-form-modal{
	margin-left: 12%;
    float: left;
    display: block;
    text-align: center;
    color: white;
    background-color: #0079bf;
    border: none;
    font-size: 90%;
    padding: 10px;
    text-decoration: none;
}


#investors-list{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-column-gap: 15px;
	grid-row-gap: 15px;
	width: 75%;
	margin-left: 12%;
}

#investors-list > .header{
	grid-area: 1 / 1 / 2 / 3;
}
#investors-list > .body{
	grid-area: 2 / 1 / 4 / 3;
	padding-top: 2%;
	padding-bottom: 2%;
	margin-top: -12%;
}
#investors-list > .footer{
	grid-area: 1 / 3 / 4 / 4;
	background: transparent;
}

#investors-list > .header .inv {
  list-style-type: none;
  font-size: 86%;
  vertical-align: middle;
  width: 91%;
  float: right;
  margin-top: -7%;
  position: relative;
  left: 1%;
}
#investors-list > .header .inv-title {
  font-size: 140%;
  color: #0079bf;
}
#investors-list > .header .inv li{
  display: inline-table;
  margin-left: 4%;
  padding: 2%;
  border: solid 2px gray;
  border-radius: 10px;
}

#investors-list > .header .inv li:hover, #investors-list > .header .inv li.selected{
  color: white;
  background-color: #0079bf;
  border-color: transparent;
  cursor: pointer;
}

#investors-list > .body aside{
	background-color: white;
	margin-top: 2%;
	padding-top: 1%;
	padding-bottom: 1%;
	border-radius: 10px;
}

.new-ad-form-modal-data > #header .modal-active{ color: #0079bf; }
.new-ad-form-modal-data > #content ul li.modal-active{ display: block; }

.new-ad-form-modal-data{
  padding: 4%;
}
.new-ad-form-modal-data > #header{
  padding: 2%;
}
.new-ad-form-modal-data > #content{
  padding: 2%;
}
.new-ad-form-modal-data > #footer{
  padding: 1%;
}


.new-ad-form-modal-data > #header *{
  padding: 1%;
  display: inline-table;
  color: gray;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 140%;
}
.new-ad-form-modal-data > #footer *{
  float: right;
  margin-right: 10%;
  width: 10%;
  padding: 10px;
  margin-top: -3%;
  border: none;
  background: #0079bf;
  color: white;
  font-size: 100%;
}

.new-ad-form-modal-data > #content ul{
  list-style-type: none;
  margin-left: -4%;
}
.new-ad-form-modal-data > #content ul li{
  display: block;
  padding: 1%;
  width: 90%;
  overflow: auto;
  display: none;
  width: 100%;
  height: 240px;
  overflow: auto;
}
.new-ad-form-modal-data > #content ul li section.form{
  padding: 0.5%;
  
}
.new-ad-form-modal-data > #content ul li section.form div{
  padding: 0.25%;
  display: grid;
  grid-auto-flow: row dense;
  grid-auto-columns: 38%;
  grid-auto-rows: 0.38em;
  grid-template-columns: 25% 50%;
  grid-template-rows: 1fr;
  gap: 1em 2px;
  grid-template-areas:
    "stepHeader stepContent";
  justify-items: stretch;
  width: 100%;
  font-size: 120%;
  margin-top: 2%;
}
.new-ad-form-modal-data > #content ul li section.form div *{
  padding: 0.13%;
  margin-left: 2%;
}
.new-ad-form-modal-data > #content ul li section.form div label{
  padding: 0.06%;
}
.new-ad-form-modal-data > #content ul li section.form div *:nth-last-child(1){
  padding: 2%;
  font-size: calc(60% * 2);
  text-indent: 2%;
}


#investors-list > .footer ul{color: black;list-style-type: none;padding-top: 1%;padding-bottom: 6%;padding-left: 2%;background: white;}
#investors-list > .footer ul li{padding-top: 4%;padding-bottom: 4%;}
#investors-list > .footer ul li label{font-size: 96%;}
#investors-list > .footer ul li *{display: block;margin-top: 1%;width: 85%;font-size: 100%;}
#investors-list > .footer ul li select{padding: 2%;}
#investors-list > .footer ul li input[type=search]{text-indent: 2%;padding: 2%;}
#investors-list > .footer ul li input[type=date]{display: block;padding: 2%;margin-top: 4%;}
#investors-list > .footer ul li button{float: right;margin-right: 10%;width: 43%;padding: 2%;font-size: 100%;margin-top: -3%;border: none;background: #0079bf;color: white;}

#investors-list > .body aside div{margin-left: 2%;padding-top: 4px;padding-bottom: 4px;}
#investors-list > .body aside div:nth-child(1){font-size: 160%;font-weight: bold;}
#investors-list > .body aside div:nth-child(2){font-size: 91%;color: gray;}
#investors-list > .body aside div:nth-child(3){
    padding-top: 6px;
}
#investors-list > .body aside div:nth-child(3) * {padding-right: 4%;}
#investors-list > .body aside div:nth-child(3) i {font-size: 100%;color: darkgray;}
#investors-list > .body aside div:nth-child(3) a {float: right;text-transform: uppercase;font-weight: bold;text-decoration: none;font-size: 110%;color: #0079bf;}
@media all and (max-width: 768px){
	#investors-list > .footer{ display: none; }
	#investors-list{
		width: 120%;
	}

	#investors-list > .body {
		margin-top: -41%;
	}
	#investors-list > .header .inv {
		width: 95%;
		left: -9%;
		margin-top: 0%;
	}
	#investors-list > .header .inv li { margin-top: 11px; }
}
@media all and (min-width: 768px) and (max-width: 1024px){
    #investors-list > .footer{ display: none; }
    #investors-list{
		width: 120%;
	}
	#investors-list > .header .inv {
		margin-top: -9%;
		left: 9%;
	}
	#investors-list > .body {
		margin-top: -22%;
	}
	#investors-list > .footer ul {
		padding-bottom: 12%;
	}
	#investors-list > .header .inv li {
		margin-left: 0%;
		margin-top: 6px;
	}
}
@media all and (min-width: 1024px) and (max-width: 1440px){
	#investors-list > .header .inv {
		margin-top: -7%;
		left: -11%;
	}
	#investors-list > .body {
		margin-top: -23%;
	}
	#investors-list > .footer ul {
		padding-bottom: 12%;
	}
	#investors-list > .header .inv {
		font-size: 70%;
		width: 70%;
	}
	#investors-list > .header .inv li { margin-left: 1%; }
}
