@import url('/css/news.css');

#services-public{ padding-bottom: 15%; }

.list-smart-close{ visibility: hidden; }

h2#title {
    margin-left: 12%;
}
#services-list{
  display: flex;
  width: 89%;
  margin-left: 10%;
}
#services-list > header#search, #services-list > main#list{
  margin: 5px;
  padding: 2%;
  flex: 1 1 auto;
  padding-top: 2%;
  padding-bottom: 2%;
  width: 50%;
  height: 400px;
}
header#search > input{
  width: 80%;
  font-size: 100%;
  text-indent: 2%;
  padding: 2%;
}
header#search > .last-example{
  margin-top: 2%;
  font-size: 90%;
  color: gray;
  cursor: pointer;
}

.last-example > #exmpl{
  color: #3498DB;
  font-weight: bold;
  text-decoration: underline dotted;
}

.last-example > .categories{
  width: 80%;
  height: 270px;
  overflow: auto;
  margin-top: 4%;
  display: block;
}

.categories > a{
  display: block;
  margin-top: 2%;
  padding: 4%;
  border-radius: 10px;
  border: solid 2px gray;
  text-decoration: none;
  color: black;
  font-size: 110%;
}

.categories > a.active-category{
  background-color: lightgray;
}
.categories > a img{
  vertical-align: middle;
}
.categories > a strong{
  margin-left: 2%;
}

.load-screen-services{
  background: rgba(250, 249, 248, 0.5);
  width: 100%;
  height: 404px;
position: relative;top: -404px;margin-left: -23%;}
.load-screen-services > center *{
  display: block;
  padding: 2%;
}
.load-screen-services img{
  width: 200px;
  height: 200px;
  object-fit: contain;
}
.load-screen-services span{
  font-size: 150%;
  font-weight: bold;
  color: #0079bf;
}

main#list > ul{
  list-style-type: none;
  overflow: auto;
  width: 100%;
  height: 404px;
  font-size: 120%;
  margin-left: -30%;
  margin-top: -1%;
}
main#list > ul li{
  padding: 2%;
  margin-top: 2%;
  border-radius: 10px;
  background-color: #3498DB;
}
main#list > ul li a{
  color: #ffffff;
  font-size: 100%;
  font-weight: bold;
  text-indent: 4%;
  text-decoration: none;
}

.not-found-data{
  overflow: auto;
  width: 100%;
  height: 404px;
  font-size: 120%;
  margin-left: -23%;
  margin-top: -1%;
}
.not-found-data > img{
  padding: 2%;
  margin-top: 2%;
  width: calc(32px * 4);
  height: calc(32px * 4);
  object-fit: cover;
}
.not-found-data > h3{
  padding: 2%;
  margin-top: 2%;
  font-size: calc(100% * 2);
}
.not-found-data > span{
  padding: 2%;
  margin-top: 2%;
  text-align: justify;
  font-size: 100%;
width: 88%;display: block;}

@media all and (max-width: 414px){
	#services-public { height: calc(800px * 3); }
	#services-list {
		width: 100%;
		flex-flow: wrap;
	}
	header#search > .last-example { font-size: 70%; }
	main#list > ul {
		width: 90%;
		font-size: 83%;
		margin-left: -16%;
		margin-top: -42%;
	}
}
@media all and (min-width: 414px) and (max-width: 768px){
	#services-public {padding-bottom: 191%;}
	#services-list {
		width: 108%;
		flex-flow: wrap;
	}
	header#search > .last-example { font-size: 70%; }
	main#list > ul {
		width: 90%;
		font-size: 83%;
		margin-left: -12%;
		margin-top: -6%;
	}
}
@media all and (min-width: 600px) and (max-width: 768px){
	#services-public {padding-bottom: 226%;}
	#services-list {
		width: 100%;
		flex-flow: wrap;
	}
	header#search > .last-example { font-size: 70%; }
	main#list > ul {
		width: 90%;
		font-size: 83%;
		margin-left: -12%;
		margin-top: -15%;
	}
}
@media all and (min-width: 768px) and (max-width: 800px){
	#services-public {padding-bottom: 115%;}
	#services-list {
		width: 107%;
		flex-flow: wrap;
	}
	header#search > .last-example { font-size: 70%; }
	main#list > ul {
		width: 90%;
		font-size: 83%;
		margin-left: -12%;
		margin-top: 2%;
	}
}
@media all and (min-width: 800px) and (max-width: 1024px){
	#services-public {padding-bottom: 226%;}
	#services-list {
		width: 100%;
		flex-flow: wrap;
	}
	header#search > .last-example { font-size: 70%; }
	main#list > ul {
		width: 90%;
		font-size: 83%;
		margin-left: -12%;
		margin-top: -15%;
	}
}
@media all and (min-width: 1024px) and (max-width: 1280px){	
	#services-public {
		padding-bottom: 27%;
	}
	#services-list {
		width: 89%;
	}
}
