@import url('/css/news.css');


#services-public{ padding-bottom: 15%; }

.add-but{
            text-align: center;
            color: white;
            background-color: #0079bf;
            border: none;
            font-size: 100%;
            padding: 10px;
            position: relative;
            top: -54px;
            float: right;
            margin-right: 13%;
            text-decoration: none;
}

.list-smart-close{ visibility: hidden; }

h2#title {
    margin-left: 12%;
}
#services-list{
  display: flex;
  width: 89%;
  margin-left: 10%;
}
#services-list > header#search, #services-list > main#list{
  margin: 5px;
  padding: 2%;
  flex: 1 1 auto;
  padding-top: 2%;
  padding-bottom: 2%;
  width: 50%;
  height: 400px;
}
header#search > input{
  width: 80%;
  font-size: 100%;
  text-indent: 2%;
  padding: 2%;
}
header#search > .last-example{
  margin-top: 2%;
  font-size: 90%;
  color: gray;
  cursor: pointer;
}

.last-example > #exmpl{
  color: #3498DB;
  font-weight: bold;
  text-decoration: underline dotted;
}

.last-example > .categories{
  width: 80%;
  height: 270px;
  overflow: auto;
  margin-top: 4%;
  display: block;
}

.categories > a{
  display: block;
  margin-top: 2%;
  padding: 4%;
  border-radius: 10px;
  border: solid 2px gray;
  text-decoration: none;
  color: black;
  font-size: 110%;
}

.categories > a.active-category{
  background-color: lightgray;
}
.categories > a img{
  vertical-align: middle;
}
.categories > a strong{
  margin-left: 2%;
}

.load-screen-services{
  background: rgba(250, 249, 248, 0.5);
  width: 100%;
  height: 404px;
position: relative;top: -404px;margin-left: -23%;}
.load-screen-services > center *{
  display: block;
  padding: 2%;
}
.load-screen-services img{
  width: 200px;
  height: 200px;
  object-fit: contain;
}
.load-screen-services span{
  font-size: 150%;
  font-weight: bold;
  color: #0079bf;
}

main#list > ul{
  list-style-type: none;
  overflow: auto;
  width: 100%;
  height: 404px;
  font-size: 120%;
  margin-left: -30%;
  margin-top: -1%;
}
main#list > ul li{
  padding: 2%;
  margin-top: 2%;
  border-radius: 10px;
  background-color: #3498DB;
}
main#list > ul li a{
  color: #ffffff;
  font-size: 100%;
  font-weight: bold;
  text-indent: 4%;
  text-decoration: none;
}

.not-found-data{
  overflow: auto;
  width: 100%;
  height: 404px;
  font-size: 120%;
  margin-left: -23%;
  margin-top: -1%;
}
.not-found-data > img{
  padding: 2%;
  margin-top: 2%;
  width: calc(32px * 4);
  height: calc(32px * 4);
  object-fit: cover;
}
.not-found-data > h3{
  padding: 2%;
  margin-top: 2%;
  font-size: calc(100% * 2);
}
.not-found-data > span{
  padding: 2%;
  margin-top: 2%;
  text-align: justify;
  font-size: 100%;
width: 88%;display: block;}

.newServiceForm {
  display: grid;
  grid-auto-flow: row dense;
  grid-template-columns: 100%;
  grid-template-rows: 1fr;
  gap: 2em;
  grid-template-areas:
    "stepContent stepFooter";
  justify-items: stretch;
  width: 100%;
  height: 50%;
}
.newServiceForm > div[data-modalpart]{
  padding: 1%;
}
.newServiceForm  > div[data-modalpart='content']{ grid-area: stepContent; }

.newServiceForm  > div[data-modalpart='content'] main#formUI .formStep #step:not(.active){
}
.newServiceForm  > div[data-modalpart='content'] main#formUI .formStep #step #formStepUI{
  margin-top: 2%;
}
.newServiceForm  > div[data-modalpart='content'] main#formUI .formStep #step #formStepUI .header{
  font-size: 110%;
  background-color: transparent;
  height: auto;
  margin-left: 1%;
}
.newServiceForm  > div[data-modalpart='content'] main#formUI .formStep #step #formStepUI .header a{ 
  padding: 10px;
  text-decoration: none;
  color: gray;
  text-transform: uppercase;
}
.newServiceForm  > div[data-modalpart='content'] main#formUI .formStep #step #formStepUI .header a.active{ 
  font-weight: bold;
  color: #0079bf;
}
.newServiceForm  > div[data-modalpart='content'] main#formUI .formStep #step #formStepUI .content #tab{
  display: none;
  width: 90%;
  margin-top: 8%;
  margin-left: 2%;
}
.newServiceForm  > div[data-modalpart='content'] main#formUI .formStep #step #formStepUI .content #tab.active{ 
  display: block;
}
.newServiceForm  > div[data-modalpart='content'] footer#formUI *{
  float: right;
  margin-top: -2.5em;
  text-align: center;
  color: white;
  background-color: #0079bf;
  border: none;
  font-size: 100%;
  padding: 10px;
  width: 20%;
}
.newServiceForm  > div[data-modalpart='content'] footer#formUI{grid-area: stepFooter;width: 100%;float: left;margin-top: 7%;margin-left: -3%;}

.newSVCFormContent{
  display: flex;
  align-items: center;
  align-content: flex-start;
  width: 100%;
  height: 100%;
  margin-top: -10%;
}
.newSVCFormContent > ul, .newSVCFormContent > ul li{
  list-style-type: none;
  margin: 10px;
  padding: 5px;
  flex: 2 1 100px;
  align-self: center;
  order: 2;
  width: 99%;
  height: 50%;
}
.newSVCFormContent > ul li *{
  display: block;
  margin-top: 5px;
  width: 90%;
  font-size: 80%;
}

.newSVCFormContent > ul li *:nth-last-child(1){
  margin-top: 10px;
  padding: 5px;
  font-size: 100%;
  text-indent: 2%;
}

.newSVCFormContent > ul li:nth-child(2){
    padding-top: 2%;
    padding-bottom: 2%;
}

.newSVCFormContent > ul li:nth-child(2) *{
	float: left;
    width: 65%;
    display: inline-block;
}

.newSVCFormContent > ul li:nth-child(2) *{
	float: left;
    width: 65%;
    display: inline-block;
}

.newSVCFormContent > ul li:nth-child(2) label span{
	margin-left: 15%;
	margin-top: 3px;
}

.newSVCFormContent > ul li:nth-child(2) label{
	float: right;
    display: inline-block;
    width: 15%;
    margin-top: 0%;
    margin-right: 10%;
}

.newSVCFormContent > ul li:nth-child(2) label input {
    display: none;
}

.newSVCFormContent > ul li label{
  text-align: center;
  color: white;
  background-color: #0079bf;
  border: none;
  font-size: 90%;
  padding: 10px;
  height: calc(100px / 4);
}
.newSVCFormContent > ul li label input{
	display: none;
}

.level{
  list-style-type: none;
  display: flex;
  align-items: flex-start; 
  flex-direction: row; 
  flex-wrap: nowrap; 
  align-content: flex-start;
  width: 90%;
  padding: 15px;
  gap: 5px;
}
.level > li{
  padding: 8px;
  font-size: 120%;
  width: 20%;
}
.level > li span{
  margin-left: 4%;
}

.contactDataForm{
  list-style-type: none;
  margin: 10px;
  padding: 5px;
}
.contactDataForm > li{
  display: inline-table;
  margin-top: 2.5%;
  width: 33%;
}
.contactDataForm > li *{
  margin-left: 1.25%;
}
.contactDataForm > li img{
  width: 40%;
  object-fit: cover;
}
.contactDataForm > li input{
  width: 70%;
  padding: 1%;
  font-size: 120%;
  text-indent: 2%;
  display: block;
}
@media all and (max-width: 600px){
	.add-but{ display: none; }
}

.SVCData{
  list-style-type: none;
  margin: 10px;
  padding: 5px;
}
.SVCData > li{
  margin-top: 2.5%;
  display: grid; 
  grid-auto-flow: row dense; 
  grid-auto-columns: 50%; 
  grid-auto-rows: 0.5em; 
  grid-template-columns: 50% 50%; 
  grid-template-rows: 1fr; 
  gap: 1em 2px; 
  justify-items: stretch; 
  width: 100%; 
}
.SVCData > li *{
  margin-left: 1.25%;
  display: inline;
  width: 50%;
  height: 100px;
}
.SVCData > li h4{
  font-size: 120%;
}
.SVCData > li textarea{
  font-size: 100%;
  padding: 2%;
  width: 74%;
  height: 174px;
  resize: none;
}
.SVCData > li label{
  text-align: center;
  color: white;
  background-color: #0079bf;
  border: none;
  font-size: 90%;
  padding: 10px;
  height: calc(100px / 4);
}
.SVCData > li label input{
  display: none;
}
@media all and (max-width: 414px){
	#services-public { height: calc(800px * 3); }
	#services-list {
		display: inline-flex;
		flex-flow: column nowrap;
		justify-content: center;
		width: 100%;
	}
	
	#services-list > header#search, #services-list > main#list { width: 100%; }
	.not-found-data {
		width: 82%;
		margin-left: -2%;
	}
	.load-screen-services {
		width: 79%;
		margin-left: 0%;
	}
	header#search > .last-example { font-size: 70%; }
	main#list > ul {
		width: 90%;
		font-size: 83%;
		margin-left: -16%;
		margin-top: -42%;
	}
}
@media all and (min-width: 414px) and (max-width: 768px){
	#services-public {padding-bottom: 191%;}
	#services-list {
		display: inline-flex;
		flex-flow: column nowrap;
		justify-content: center;
		width: 100%;
	}
	
	#services-list > header#search, #services-list > main#list { width: 100%; }
	.not-found-data {
		width: 82%;
		margin-left: -2%;
	}
	.load-screen-services {
		width: 79%;
		margin-left: 0%;
	}
	header#search > .last-example { font-size: 70%; }
	main#list > ul {
		width: 90%;
		font-size: 83%;
		margin-left: -12%;
		margin-top: -6%;
	}
}
@media all and (min-width: 600px) and (max-width: 768px){
	#services-public {padding-bottom: 226%;}
	#services-list {
		display: inline-flex;
		flex-flow: column nowrap;
		justify-content: center;
		width: 100%;
	}
	.add-but { margin-right: 8%; }
	#services-list > header#search, #services-list > main#list { width: 100%; }
	.not-found-data {
		width: 82%;
		margin-left: -2%;
	}
	.load-screen-services {
		width: 79%;
		margin-left: 0%;
	}
	header#search > .last-example { font-size: 70%; }
	main#list > ul {
		width: 90%;
		font-size: 83%;
		margin-left: -12%;
		margin-top: -15%;
	}
}
@media all and (min-width: 768px) and (max-width: 800px){
	#services-public {padding-bottom: 115%;}
	#services-list {
		display: inline-flex;
		flex-flow: column nowrap;
		justify-content: center;
		width: 100%;
	}
	.add-but { margin-right: 8%; }
	#services-list > header#search, #services-list > main#list { width: 100%; }
	.not-found-data {
		width: 82%;
		margin-left: -2%;
	}
	.load-screen-services {
		width: 79%;
		margin-left: 0%;
	}
	header#search > .last-example { font-size: 70%; }
	main#list > ul {
		width: 90%;
		font-size: 83%;
		margin-left: -12%;
		margin-top: 2%;
	}
}
@media all and (min-width: 800px) and (max-width: 1024px){
	#services-public {padding-bottom: 226%;}
	#services-list {
		display: inline-flex;
		flex-flow: column nowrap;
		justify-content: center;
		width: 100%;
	}
	.add-but { margin-right: 8%; }
	#services-list > header#search, #services-list > main#list { width: 100%; }
	.not-found-data {
		width: 82%;
		margin-left: -2%;
	}
	.load-screen-services {
		width: 79%;
		margin-left: 0%;
	}
	header#search > .last-example { font-size: 70%; }
	main#list > ul {
		width: 90%;
		font-size: 83%;
		margin-left: -12%;
		margin-top: -15%;
	}
}
@media all and (min-width: 1024px) and (max-width: 1280px){	
	#services-public {
		padding-bottom: 27%;
	}
	#services-list {
		width: 97%;
	}
	.add-but { margin-right: 6%; }
}
@media all and (min-width: 1280px) and (max-width: 1366px){
	.add-but { margin-right: 7%; }
	#services-list > header#search, #services-list > main#list {
		width: 50%;
	}
	.not-found-data, .load-screen-services{ margin-left: -10%; }
}
